<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GPK_RePack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPK_RePack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GPK_RePack.Properties.Settings>
      <setting name="CopyMode" serializeAs="String">
        <value>dataprops</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>info</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewMode" serializeAs="String">
        <value>class</value>
      </setting>
      <setting name="SaveDir" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenDir" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowImports" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PatchMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseUID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JitData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenerateMipMaps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScaleFactorHack" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EnableTexture2D" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WorkingDir" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviewColor" serializeAs="String">
        <value>Transparent</value>
      </setting>
      <setting name="SaveFileSuffix" serializeAs="String">
        <value>_rebuild</value>
      </setting>
      <setting name="UpdateEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </GPK_RePack.Properties.Settings>
  </userSettings>

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
  </System.Windows.Forms.ApplicationConfigurationSection>      
  
  <compatibility xmlns="urn:schemas-microsoft.com:compatibility.v1">
    <application>
      <!-- Windows 10 compatibility -->
      <supportedOS Id="{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}"/>
    </application>
  </compatibility>
  <applicationSettings>
    <GPK_RePack.Properties.Settings>
      <setting name="UpdateUrl" serializeAs="String">
        <value>https://raw.githubusercontent.com/GoneUp/GPK_RePack/master/versioncode</value>
      </setting>
      <setting name="VersionCode" serializeAs="String">
        <value>14</value>
      </setting>
    </GPK_RePack.Properties.Settings>
  </applicationSettings>
</configuration>
