<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GPK_RePack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <GPK_RePack.Properties.Settings>
            <setting name="CopyMode" serializeAs="String">
                <value>dataprops</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>info</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>class</value>
            </setting>
            <setting name="SaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowImports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatchMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JitData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateMipMaps" serializeAs="String">
                <value>True</value>
            </setting>
        </GPK_RePack.Properties.Settings>
    </userSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
