<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.7.3" targetFramework="net45" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net45" />
  <package id="NLog" version="4.0.0" targetFramework="net45" />
  <package id="NLog.Windows.Forms" version="1.0.13.0" targetFramework="net40" />
  <package id="NVorbis" version="0.8.4.0" targetFramework="net40" />
</packages>